/** @format */

main {
  background: linear-gradient(to bottom, #cac704 0%, #ffffff 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Pacifico", cursive;
  height: 100vh;
  padding: 20px;
  text-align: center;
}
h1 {
  color: white;
}

@keyframes fall {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 100vh;
    opacity: 10;
  }
}
@keyframes sway {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 50px;
  }
  50% {
    margin-left: -50px;
  }
  75% {
    margin-left: 50px;
  }
  100% {
    margin-left: 0;
  }
}

#snow-container {
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: opacity 500ms;
  width: 100%;
}
.snow {
  animation: fall ease-in infinite, sway ease-in-out infinite;
  color: rgb(180, 199, 5);
  position: absolute;
}

/**@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  background-color: #003366;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Pacifico", cursive;
  height: 100vh;
  padding: 20px;
  text-align: center;
}

h1 {
  color: white;
}

#nyan-container {
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: opacity 500ms;
  width: 100%;
}

.nyan {
  background-image: url("https://www.pngall.com/wp-content/uploads/2016/06/Nyan-Cat-PNG-Image.png");
  background-size: contain;
  animation: move ease-in infinite;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
}

footer {
  background-color: #ffdfb9;
  bottom: 0;
  font-family: sans-serif;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

footer a {
  color: inherit;
  text-decoration: none;
}

footer .heart {
  color: #dc143c;
}

@keyframes move {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    left: 100vw;
    opacity: 1;
  }
}
*/
